<!-- 消費總額 -->
<div class="row total_result  mt-4 mb-4 ">
    <div class="col-sm-3 total_result_title ">
        <p>總金額 :</p>
    </div>

    <div class="col-sm-6 total_result_value">
        <p>{{totalAmount}}</p>
    </div>
    <div class="col-sm-3"></div>
</div>