<!-- 下拉選單 -->
<div class="row mt-4 mb-4 ">
    <select id="filter_month" class="filter col-sm-4" name="month">
        <option selected>月份</option>
        <option value="01">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
        <option value="05">05</option>
    </select>

    <select id="filter_category" class="filter col-sm-4" name="category">
        <option selected>類別</option>
        <option value="fa-home">家居物業</option>
        <option value="fa-shuttle-van">交通出行</option>
        <option value="fa-grin-beam">休閒娛樂</option>
        <option value="fa-utensils">餐飲食品</option>
        <option value="fa-pen">其他</option>
    </select>

    <div class="col-sm-3 ml-3 mt-3">
        <p class="font-weight-bold"> 歡迎回來 ! {{user.name}}</p>
    </div>
</div>